<!DOCTYPE html>
<!-- use Django form -->
<html>
<head>
	<title>Tính lịch trả nợ kiểu VOZ - Thông tin khoản vay</title>
	{% load static %}
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'forums/vozfavicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'forums/vozfavicon-16x16.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'forums/bootstrap.min.css' %}">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		function setInputFilter(textbox, inputFilter) {
  			["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
				    textbox.addEventListener(event, function() {
				      if (inputFilter(this.value)) {
				        this.oldValue = this.value;
				        this.oldSelectionStart = this.selectionStart;
				        this.oldSelectionEnd = this.selectionEnd;
				      } else if (this.hasOwnProperty("oldValue")) {
				        this.value = this.oldValue;
				        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
				      } else {
				        this.value = "";
				      }
				    });
 				 });
  		function addCommas(nStr)
		{
		    nStr += '';
		    x = nStr.split('.');
		    x1 = x[0];
		    x2 = x.length > 1 ? '.' + x[1] : '';
		    var rgx = /(\d+)(\d{3})/;
		    while (rgx.test(x1)) {
		        x1 = x1.replace(rgx, '$1' + ',' + '$2');
		    }
		    return x1 + x2;
		}
}	</script>
</head>
<body style="background-color: black">
	<style type="text/css">
		#id_ir,#id_start_principal,#id_periods{
			width: 100%;
			text-align: right;
		}
		#id_start_date{
			width: 100%;
			text-align: right;

		}
	</style>
	<div class="container">
		<a href="{% url 'forums:index' %}">
			<img src="{% static 'forums/vozlogo.gif' %}" border="0" alt="vozForums" width="184" height="90" title="vozForums">
		</a>
	</div>
	<div class="container" style="background-color: #f2f2f2, margin:10px">
		<form  method="post">
			{% csrf_token %}
			{{ loan_form.non_field_errors }}
			}
		<table class="table-primary">
			<tr>
				{{ loan_form.start_principal.errors }}
				<td>Số tiền vay</td>
				<td style="text-align: right;">{{ loan_form.start_principal }}</td>
				<td> VND</td>
				<script type="text/javascript">
						jQuery("#id_start_principal").keyup(function () {
			                var str = jQuery(this).val();
			                str = str.replace(/\D+/g, '');
			                str = str.replace(/^(0*)/, '');
			                jQuery(this).val(str.replace(/\d(?=(?:\d{3})+(?!\d))/g, '$&,'));
			            });
				</script>
			</tr>
			<tr>
				{{ loan_form.periods.errors }}
				<td>Thời gian vay</td>
				<td style="text-align: right;">{{ loan_form.periods }}</td>
				<td> tháng</td>
			</tr>
			<tr>
				{{ loan_form.ir.errors }}
				<td>Lãi suất</td>
				<td>{{ loan_form.ir }}</td>
				<td> %/năm</td>
			</tr>
			<tr>
				{{ loan_form.start_date.errors }}
				<td>Ngày giải ngân</td>
				<td style="text-align: right;">{{ loan_form.start_date }}</td>
				<script type="text/javascript">
				  	$(function () {
						$('#id_start_date').datepicker();
					})
				 </script>
				<td> mm/dd/yyyy</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Tính" class="btn" style="background-color: green;color: white">				
					<input type="reset" value="Clear" class="btn" style="background-color: red;color: white">
				</td>				
			</tr>
		</table>
		</form>
								
	</div>
</body>
</html>